@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;

    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;

    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;

    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;

    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;

    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;

    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}

@layer base {
  @font-face {
    font-family: The Fontman;
    src: url(lib/fonts/TheFrontman.ttf) format("truetype");
  }

  @font-face {
    font-family: "Futura PT Cond Extra";
    src: url("lib/fonts/futura/FuturaPTCond-ExtraBoldObl.eot");
    src: local("Futura PT Cond Extra Bold Oblique"),
      local("FuturaPTCond-ExtraBoldObl"),
      url("lib/fonts/futura/FuturaPTCond-ExtraBoldObl.eot?#iefix")
        format("embedded-opentype"),
      url("lib/fonts/futura/FuturaPTCond-ExtraBoldObl.woff2") format("woff2"),
      url("lib/fonts/futura/FuturaPTCond-ExtraBoldObl.woff") format("woff"),
      url("lib/fonts/futura/FuturaPTCond-ExtraBoldObl.ttf") format("truetype");
    font-weight: 800;
    font-style: italic;
  }

  @font-face {
    font-family: "Futura PT Book";
    src: url("lib/fonts/futura/FuturaPT-Book.eot");
    src: local("Futura PT Book"), local("FuturaPT-Book"),
      url("lib/fonts/futura/FuturaPT-Book.eot?#iefix")
        format("embedded-opentype"),
      url("lib/fonts/futura/FuturaPT-Book.woff2") format("woff2"),
      url("lib/fonts/futura/FuturaPT-Book.woff") format("woff"),
      url("lib/fonts/futura/FuturaPT-Book.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Futura PT";
    src: url("lib/fonts/futura/FuturaPT-Medium.eot");
    src: local("Futura PT Medium"), local("FuturaPT-Medium"),
      url("lib/fonts/futura/FuturaPT-Medium.eot?#iefix")
        format("embedded-opentype"),
      url("lib/fonts/futura/FuturaPT-Medium.woff2") format("woff2"),
      url("lib/fonts/futura/FuturaPT-Medium.woff") format("woff"),
      url("lib/fonts/futura/FuturaPT-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: "Futura PT Demi";
    src: url("lib/fonts/futura/FuturaPT-Demi.eot");
    src: local("Futura PT Demi"), local("FuturaPT-Demi"),
      url("lib/fonts/futura/FuturaPT-Demi.eot?#iefix")
        format("embedded-opentype"),
      url("lib/fonts/futura/FuturaPT-Demi.woff2") format("woff2"),
      url("lib/fonts/futura/FuturaPT-Demi.woff") format("woff"),
      url("lib/fonts/futura/FuturaPT-Demi.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: Midnight OTF;
    src: url(lib/fonts/Midnight_Terror.otf) format("opentype");
  }

  @font-face {
    font-family: Midnight WOFF;
    src: url(lib/fonts/Midnight_Terror.woff) format("woff");
  }

  @font-face {
    font-family: Midnight TTF;
    src: url(lib/fonts/Midnight_Terror.ttf) format("truetype");
  }

  @font-face {
    font-family: Peculiar OTF;
    src: url(lib/fonts/Peculiar_People.otf) format("opentype");
  }

  @font-face {
    font-family: Peculiar WOFF;
    src: url(lib/fonts/Peculiar_People.woff) format("woff");
  }

  @font-face {
    font-family: Peculiar TTF;
    src: url(lib/fonts/Peculiar_People.ttf) format("truetype");
  }

  body {
    @apply bg-background text-foreground relative;
  }

  .text-supreme {
    font-size: 1.25rem;
    font-family: "Futura PT Demi";
    line-height: 2rem;
  }

  .bookmarkText {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
  }

  .badgeShadow {
    @apply drop-shadow-[3px_5px_0_rgba(249,244,218,1)];
  }

  .scrollText {
    @apply text-sm uppercase text-foreground-muted;
    font-family: "Futura PT Demi";
    writing-mode: vertical-rl;
    text-orientation: upright;
  }

  /* .nav-underline::after {
    content: "";
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fa3d33' viewBox='0 0 24 24' stroke-width='1.5' stroke='%23fa3d33' %3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z' /%3E%3C/svg%3E%0A");
    transform: rotate(90deg);
  } */
}
